body {
	font-family: Cambria, Georgia, serif;
	padding: 0;
	margin: 0; 
	font-size: 10pt;
	background: #eee;
}

fieldset {
	border: 0;
}
legend{
	padding: 2px;
}

input.text { margin-bottom:12px; padding: .4em; }
input.textwide { margin-bottom:12px; padding: .4em; width:90%;}
input.texttable { padding: .4em; text-align: center; }
input.login { margin-bottom: 5px; padding: .2em; }

label {font-weight: bold;} 

.ui-widget{font-size:10px;}

fieldset.blockDisplayFieldSet {
	padding:0; 
	margin-top:25px; 
}

fieldset.blockDisplayFieldSet label {
	padding:0;
	display: block;
}

.ui-button { margin-left: -1px; }
.ui-button-icon-only .ui-button-text { padding: 0.35em; } 
.ui-autocomplete-input { margin: 0; padding: 0.48em 0 0.47em 0.45em; }

.loginButton {
	padding: 0px;
}
#divLoginFields{
	border: none;
	padding: 0px;
	float: left;
	display: inline;
	width: 100%;
	background-color: #cc0000;
}

#loginForm{
	display: inline;
	width: 40%;
}

fieldset.loginFieldSet {
	float: right;
	margin: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	display: inline;
}

label.warning {
	text-align: left;
	width: auto;
	padding: 0;
	margin: 0 0 0 10px;
	float: none;
	clear: none;
	display: inline;
	color: red;
	border: none;
}

/* HEADER CSS */
#divTitleBar {
	width: 100%;
	background-color: #cc0000;	
	color: white;
	padding-top: 15px;
	padding-bottom: 15px;
}

#divTitleBar h1 {
	display: inline;
	padding: 0px;
}

#divTitleBar a {
	color: white;
}

#divUserBar{
	float: right;
}

#divTabBar{
	background-color: #cc0000;
	margin: 0px;
	margin-top: -15px;
}


#divTabBar ul{
	padding:1px 17px 0px 0px;	
	overflow:hidden;
}

#divTabBar ul li{
	float:left;
	line-height:30px;
	margin-right:5px;
	list-style: none;
	width: 100px;	
	text-align: center;		
}

#divTabBar ul li a{
	text-decoration: none;
	line-height: 29px;
	color: white;
}

.tab {
	border: 1px solid #cc0000;
	background-color: #cc0000;
	font-weight: bold;
}

.tab:hover{
	border: 1px solid #b30000;
	background-color: #b30000;
	font-weight: bold;
}


.selectedTab {
	border: 1px solid #eee;
	background-color: #eee;	
	font-weight: bold;
}

#divTabBar ul li.selectedTab a{
	color: #cc0000;
}

.leagueTable {
	width: 100%;
	padding: 0px;	
	overflow: hidden;
}

#divLeagueList {
	padding: 0px;
}

.divPageContent{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	
}

#divButtons, #divContent,  #divLeague{
	background: white;
	padding-top: 10px;
	padding-bottom: 10px;		
}

#tblGame {
	width: 100%;
	text-align: center;
}

#tblGame th{
	margin-bottom:12px; 
	padding: .4em;
}

#divHiddenHtml {
	visibility: hidden;
}

#spnButtons {
	float: right;
}

#spnVersus {
	margin-left: 15px;
	margin-right: 15px;
	font-weight: bold;
	width: 100%;
	text-align: center;
}

.errorBar {
	padding: 2px;
	width: 100%;
}

.editRow label {
	font-weight:bold;
	color:#666;
	display:block;
	margin:0;
}
.editTable{
	table-layout: fixed;
	border-collapse: collapse;
}
.editRow td{
	text-align: center;	
}
.normalRow td{
	padding: 0px;
}

#spnGameDets {	
	display: inline
}
#spnRowButtons {
	float: right;
	display: inline;
	display: none;
}
.divError{
	display: Block;
	width: 100%;
	display: none;
}

.buttonFooter {
	text-align: right;
	height: 30px;
}

#tblGameBody .ui-selecting { background: #FECA40; }
#tblGameBody .ui-selected { background: #F39814; color: white; }

#imgSpinner {
	margin-left: auto;
	margin-right: auto;
}

.multipliers {
	float: right;

}

