body {
	font-family: arial, helvetica, sans-serif;
	background-color: #eee;
	padding: 0;
	margin: 0;
	font-family: "Segoe UI", Frutiger, Tahoma, "Helvetica", "Helvetica Neue", Arial, sans-serif; 
	font-size: 80%;
}

label {
	display: block
}

label {
	font-weight: bold;
}

input.text { margin-bottom:12px; width:95%; padding: .4em; }

input.textNarrow { margin-bottom:12px; padding: .4em; }

fieldset { padding:0; border:0; margin-top:25px; }

#header {
	margin: 0 auto;
	height: 150px;	
	padding: 0;
}

#main {
	width: 940px;
	margin: 0 auto;
	overflow: auto;
	padding-top: 90px;	
}

#footer {
}

#navbar { margin: 0 auto; width:100; }

#navbar ul
{
padding-left: 0;
margin-left: 0;
float: left;
width: 100%;
font-family: arial, helvetica, sans-serif;
margin: 0;
}

#navbar ul li { display: inline; margin 0 auto;}

#navbar ul li a
{
padding: 0.2em 1em;
text-decoration: none;
width: 10%;
font-weight: bold;
float: left;
text-align: center;
font-size: 16px;
}

.record-table{ width: 100%; }

.ui-selecting { background: #b4d891; }
.ui-selected { background: #67b021; color: white; }

