html { background-color: #333; }


@media all and (max-width: 50em) {
	.league-breakpoint .ui-block-a, 
	.league-breakpoint .ui-block-b { 
		width: 100%; 
		float:none; 
	}
	
	.matches-grid .ui-block-a, 
	.matches-grid .ui-block-b, 
	.matches-grid .ui-block-c { 
		width: 100%; 
		float:none; 
	}
}

@media all and (min-width: 50em) {
	.league-breakpoint .ui-block-a { 
		width: 25%;
		padding: 5px;
	}
	.league-breakpoint .ui-block-b { 
		width: 75%; 
		padding: 5px;
	}	
	
	.matches-grid .ui-block-a {
		width: 70%;
	}
	.matches-grid .ui-block-b {
		width: 10%;
	}
	.matches-grid .ui-block-c {
		width: 20%;
	}
}
